body {
    background-color: #111;
    color: #f4f4f4;
}

.background {
    background-image: url(../img/dark-background.jpg);
}

.header {
    color: #f4f4f4;
}

.header-container {
    background-color: #373737;
    color: #f4f4f4;
}

.about {
    background-color: #111;
    color: #f4f4f4;
}

.footer {
    background-color: #373737;
    color: #f4f4f4;
}

@media (max-width: 1080px) {
    .menu-body::before {
        background-color: #373737;
    }
}