.header {
    background-image: url(../img/background.jpg);
    color: #f4f4f4;
}

.header-container {
    background-color: #4a76a8;
    color: #f4f4f4;
}

.about {
    background-color: #f4f4f4;
    color: #333;
}

.footer {
    background-color: #4a76a8;
    color: #f4f4f4;
}