body {
    background-color: #f4f4f4;
    color: #333;
}

.background {
    background-image: url(../img/background.jpg);
}

.header {
    color: #f4f4f4;
}

.header-container {
    background-color: #4a76a8;
    color: #f4f4f4;
}

.about {
    background-color: #f4f4f4;
    color: #333;
}

.footer {
    background-color: #4a76a8;
    color: #f4f4f4;
}

@media (max-width: 1080px) {
    .menu-body::before {
        background-color: #4a76a8;
    }
}