body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    height: 100%;
}

body._lock {
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

.header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
}

.header-text {
    padding: 0 40px;
    max-width: 75%;
}

.header-hello {
    font-size: 15vh;
    font-weight: 600;
}

.header-my-name-is {
    font-size: 5vh;
    font-weight: 100;
}

.header-name {
    font-size: 10vh;
    font-weight: 700;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #4a76a8;
    margin: 0 auto;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.header-logo {
    background-image: url(../img/logo.png);
    background-size: contain;
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
}

.menu-icon {
    display: none;
}

.menu-list > li {
    position: relative;
    margin-left: 20px;
}

.menu-link {
    color: #fff;
    font-size: 18px;
}

.menu-link:hover {
    text-decoration: underline;
}

.photos {
    float: right;
}

.photo {
    height: 70vh;
    width: 70vh;
}

.about {
    padding: 40px;
}

.about-text {
    max-width: 50%;
    font-size: 3vh;
}

.about-title {
    font-size: 10vh;
    font-weight: 700;
    margin-bottom: 40px;
}

.about-block {
    margin-bottom: 20px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    margin: 0 10px;
}

@media (min-width: 1080px) {
    .menu-list {
        display: flex;
        align-items: center;
    }

    .menu-list > li {
        padding: 10px 0;
    }
}

@media (max-width: 1080px) {
    .menu-icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu-icon span, .menu-icon::before, .menu-icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu-icon::before, .menu-icon::after {
        content: '';
    }

    .menu-icon::before {
        top: 0;
    }

    .menu-icon::after {
        bottom: 0;
    }

    .menu-icon span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
    }

    .menu-icon._active span {
        transform: scale(0) translate(0, -50%);
    }

    .menu-icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .menu-icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    .menu-body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu-body._active {
        left: 0;
    }

    .menu-body::before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        z-index: 2;
    }

    .menu-list > li {
        margin-bottom: 30px;
    }

    .menu-list > li:last-child {
        margin-bottom: 0;
    }

    .menu-link {
        font-size: 24px;
    }
}